body{
    text-align: center;
    background-image:url("cre.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
    margin: auto;
}
.text>p{
    font-size: 28px;
    color: #00004c;
}
.boite{
    width: 290px;
    border: 2px solid black;
    border-radius: 2px;
    margin: 2px 1px;
    height: 350px;
}
.boite>div{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100% ;    
    margin: auto;
    height: 250px;
}
.agrupar{
    display: flex ;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
}
.agrupar>div>p{
    font-size: 19px;
    color: #262631;
}
@media screen and (max-width: 667px){
    p{
    font-size: 50px;
        }
    }