body{
    text-align: center;
    background-image:url("tt.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
    margin: auto;
}
.white{
    color: #2E2E2E;
}
.header{
    background:darkblue;
}
p{
    color:#000000;
    font-size:(1rem, 2.5vw, 1.8rem);
}
.cc>p{
    font-size: 21px;
}
.cc>p>{
    margin: 20px;
    width: 88px;
}
.box{
    width: 360px;
    border: 4px solid black;
    border-radius: 5px;
    margin: 10px 1px;
    height: 260px;
}
@media screen and (max-width: 667px){
p{
font-size: 50px;
    }
}
@media screen and (min-width: 280px) {
    p{
        font-size: 20px;
    }

    
}