body{
    text-align: center;
    background-image: url("r.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: auto;
    background-position: center;

}
.Text>p{
    color: #eceff1;
     font-size:22px;
}
.HERO{
    width: 390px;
    border: 4px solid black;
    border-radius: 5px;
    margin: 10px 1px;
    height: auto;
}
.star{
    width: 20px;
    height: 20px;
    background-image: url("starr.png"); 
}
.header{
    justify-content: center;
    padding: 20px 0px;
    flex-direction: row;
    display: flex;
}
.UwU>p{
    color: cornsilk;
}
@media screen and (max-width: 667px){
    p{
    font-size: 50px;
        }
    }