body{
    text-align: center;
    background-image: url("r.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.Text>p{
    color: #eceff1;
     font-size:22px;
}
.HERO{
    width: 460px;
    border: 4px solid black;
    border-radius: 5px;
    margin: 10px 1px;
    height: 360px;
}
.star{
    width: 20px;
    height: 20px;
    background-image: url("starr.png"); 
}
.header{
    justify-content: center;
    padding: 20px 0px;
    flex-direction: row;
    display: flex;
}
.UwU>p{
    color: cornsilk;
}